@model TMS.WebUI.Models.TCRunStatusVm



<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Add new test case</div>
            <div class="panel-body">

                <div>
                    @Html.LabelFor(model => model.TestCaseModel.TestCaseName)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.TestCaseModel.TestCaseName, new {@class = "form-control", Name = "CaseName"})
                    @Html.ValidationMessageFor(model => model.TestCaseModel.TestCaseName)
                </div>

                <div>
                    <label>Add new test case step</label>
                </div>

                <div >
                    @Html.TextAreaFor(model => model.TestCaseModel.Steps, new { @class = "form-control", @rows = "12", @style = "resize: vertical;", Name = "Description" })
                    @Html.ValidationMessageFor(model => model.TestCaseModel.Steps)
                </div>

                <div>
                    @Html.LabelFor(model => model.TestCaseModel.SrsLink)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.TestCaseModel.SrsLink, new {@class = "form-control", Name = "SrsLink"})
                    @Html.ValidationMessageFor(model => model.TestCaseModel.SrsLink)
                </div>

                <div>
                    @Html.LabelFor(model => model.TestCaseModel.RunStatus)
                </div>
                <div>
                    @Html.DropDownListFor(model => model.TestCaseModel.RunStatus, Model.select, new {@class = "form-control", Name = "RunStatus"})
                    @Html.ValidationMessageFor(model => model.TestCaseModel.RunStatus)
                </div>

                @Html.TextBoxFor(model => model.TestCaseModel.TestSuiteId, new {@type = "hidden", Name = "SuiteId"})
                @Html.TextBoxFor(model => model.TestCaseModel.ID, new { @type = "hidden", Name = "CaseId" })

            </div>
        </div>
        <input type="button" class="btn btn-success" id="createTestCase" value="Add test case"/>
    </div>
    }
</div>



