@model TMS.WebUI.Models.PaymentTypeVm


<div class="row-fluid" id="createProject">


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="box span10">
       
            <div class="box-header">Create project</div>
            <div class="box-content">
                <div>
                    <label>Project Name</label>
                    @Html.TextBoxFor(model => model.projectModel.ProjectName, new { @class = "form-control", Name = "ProjectName" })
                    @Html.ValidationMessageFor(model => model.projectModel.ProjectName, "*", new { @class = "help-inline" })
                    <label>Payment Type</label>
                    @Html.DropDownListFor(model => model.projectModel.PaymentType, Model.select, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.projectModel.PaymentType, "*", new { @class = "help-inline" })
                     <label>Project Status</label>
                @Html.TextBoxFor(model => model.projectModel.Status, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.projectModel.Status, "*", new { @class = "help-inline" })
                </div>
                </div>
            </div>
  
  
    <div class="span10">
        <input type="button" value="Create" class="btn btn-success" id="btnSave" />
        @Html.ActionLink("Back to Projects", "Projects", null, new { @class = "btn btn-default" })
    </div>


}

</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>