@model TMS.WebUI.Models.PaymentTypeVm

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Edit @Model.projectModel.ProjectName</h3>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Primary Project Info</div>
            <div class="panel-body">
                <div>
                    <label>Project Name</label>
                    @Html.TextBoxFor(model => model.projectModel.ProjectName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.projectModel.ProjectName)
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Bill Project Info
            </div>
            <div class="panel-body">
                <label>Payment Type</label>
                @Html.DropDownListFor(model => model.projectModel.PaymentType, Model.select, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.projectModel.PaymentType)
          
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Additional Project Info</div>
            <div class="panel-body">
                <label>Project Status</label>
                @Html.TextBoxFor(model => model.projectModel.Status, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.projectModel.Status)
            </div>
        </div>
    </div>
     @Html.HiddenFor(model => model.projectModel.ID)
    <div class="col-md-12">
        <input type="submit" value="Save" class="btn btn-success" id="btnUpdate" />
        @Html.ActionLink("Back to Projects", "Projects", null, new { @class = "btn btn-default" })
    </div>

 </div>